.hero-container {
  background-image: url("./../../images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

.hero-container > h1 {
  color: #fff;
  font-size: clamp(2.5rem, 10vw, 100px);
  margin-top: 0;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: clamp(1rem, 3vw, 32px);
  text-align: center;
}

.hero-btns {
  margin-top: 32px;
}
