.img-container {
  text-align: center;
  margin: 150px 0;
}

.img-container h1 {
  margin-bottom: 64px;
}

.img-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 32px;
}

.img-grid img:hover {
  transform: scale(1.1);
  transition: 0.6s all ease;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .img-item:nth-child(5) {
    grid-column-end: span 2;
  }

  .img-item:nth-child(9) {
    grid-row-start: 4;
    grid-column-end: span 2;
  }
}
